# Prod values for podinfo.

replicaCount: 1
logLevel: info
backend: #http://backend-podinfo:9898/echo
backends: []

ui:
  color: "#34577c"
  message: ""
  logo: ""

faults:
  delay: false
  error: false
  unhealthy: false
  unready: false
  testFail: false
  testTimeout: false

h2c:
  enabled: false

image:
  repository: ghcr.io/stefanprodan/podinfo
  tag: 5.1.2
  pullPolicy: IfNotPresent

service:
  enabled: true
  type: ClusterIP
  metricsPort: 9797
  httpPort: 9898
  externalPort: 9898
  grpcPort: 9999
  grpcService: podinfo
  nodePort: 31198

# metrics-server add-on required
hpa:
  enabled: true
  maxReplicas: 5
  # average total CPU usage per pod (1-100)
  cpu: 99
  # average memory usage per pod (100Mi-1Gi)
  memory:
  # average http requests per second per pod (k8s-prometheus-adapter)
  requests:

# Redis address in the format <host>:<port>
cache: ""
# Redis deployment
redis:
  enabled: true
  repository: redis
  tag: 6.0.8

serviceAccount:
  # Specifies whether a service account should be created
  enabled: false
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name:

linkerd:
  profile:
    enabled: false

serviceMonitor:
  enabled: false
  interval: 15s

ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
  # kubernetes.io/tls-acme: "true"
  path: /*
  hosts: []
  #    - podinfo.local
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - chart-example.local

resources:
  limits:
    memory: 256Mi
  requests:
    cpu: 100m
    memory: 64Mi

nodeSelector: {}

tolerations: []

affinity: {}

podAnnotations: {}
