apiVersion: batch/v1
kind: CronJob
metadata:
  name: backup-daily
spec:
  # Runs every day at midnight for 1 minute
  schedule: "0 0 * * *"
  concurrencyPolicy: Forbid
  successfulJobsHistoryLimit: 1
  failedJobsHistoryLimit: 1
  jobTemplate:
    spec:
      # Cleanup after 1 day
      ttlSecondsAfterFinished: 86400
      backoffLimit: 1
      template:
        metadata:
          labels:
            app.kubernetes.io/name: backup-daily
            app.kubernetes.io/part-of: database
        spec:
          serviceAccountName: database
          restartPolicy: Never
          containers:
          - name: backup
            image: ghcr.io/stefanprodan/podinfo:6.10.2
            imagePullPolicy: IfNotPresent
            command:
            - /bin/sh
            - /scripts/backup.sh
            env:
            - name: BACKUP_EXIT
              value: "1"
            resources:
              limits:
                cpu: 100m
                memory: 32Mi
              requests:
                cpu: 10m
                memory: 16Mi
            volumeMounts:
            - name: scripts
              mountPath: /scripts
          volumes:
          - name: scripts
            configMap:
              name: backup-script
              defaultMode: 0755
