apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-replica
spec:
  minReadySeconds: 3
  revisionHistoryLimit: 5
  progressDeadlineSeconds: 60
  strategy:
    rollingUpdate:
      maxUnavailable: 0
    type: RollingUpdate
  selector:
    matchLabels:
      app.kubernetes.io/name: database-replica
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "9797"
      labels:
        app.kubernetes.io/name: database-replica
        app.kubernetes.io/part-of: database
    spec:
      serviceAccountName: database
      containers:
      - name: database
        image: ghcr.io/stefanprodan/podinfo:6.10.1
        imagePullPolicy: IfNotPresent
        ports:
        - name: db
          containerPort: 3306
          protocol: TCP
        - name: http-metrics
          containerPort: 9797
          protocol: TCP
        command:
        - ./podinfo
        - --port=3306
        - --port-metrics=9797
        - --level=info
        livenessProbe:
          exec:
            command:
            - podcli
            - check
            - http
            - localhost:3306/healthz
          initialDelaySeconds: 5
          timeoutSeconds: 5
        readinessProbe:
          exec:
            command:
            - podcli
            - check
            - http
            - localhost:3306/readyz
          initialDelaySeconds: 5
          timeoutSeconds: 5
        resources:
          limits:
            cpu: 2000m
            memory: 512Mi
          requests:
            cpu: 100m
            memory: 32Mi
