apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: database-replica
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: database-replica
  minReplicas: 2
  maxReplicas: 3
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 99
