name: cve-scan

on:
  workflow_dispatch:
  push:
    branches:
      - "main"
  pull_request:
    branches:
      - "main"

permissions:
  contents: read

jobs:
  govulncheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/runner-cleanup
      - name: Vulnerability scan
        id: govulncheck
        uses: golang/govulncheck-action@v1
        with:
          repo-checkout: false
